<% include ../partials/header %>

<br>
<div class="jumbotron">
<div class="pic"><img src="https://scontent.fbkk8-3.fna.fbcdn.net/v/t1.0-9/38454096_2003467756370500_8457165071137636352_n.jpg?_nc_cat=100&_nc_eui2=AeFYDcq6lDqERvwkFQM4b-eyVst3gy_xvSs_caO8Ek60DDadZy6EQwW5Z6oZcUnLg7RP5SxGa_b3tWZMncdcw6bGSS8unA0XMYL-Zy4G0raWQg&_nc_ht=scontent.fbkk8-3.fna&oh=2ad08e49a392849fad91747e4c94f9da&oe=5C89E48C" alt=""></div>
<h2><%= fullname %></h2>
<div>My Hobbies:</div>
<ul>
<% hobbies.forEach(function(hobbies){ %>
    <li><%= hobbies %></li>
    <% }); %>s
</ul>
<div>My Birthday: <%= dob %></div>
</div>



<% include ../partials/footer %>