<% include ../partials/header %>

<br>
<div class="jumbotron">

<h2><%= fullname %></h2>
<div>My Hobbies:</div>
<ul>
<% hobbies.forEach(function(hobbies){ %>
    <li><%= hobbies %></li>
    <% }); %>
</ul>
<div>My Birthday: <%= dob %></div>
</div>



<% include ../partials/footer %>