<% include ../partials/header %>

<br>
<div class="jumbotron">
<div class="pic"><img style="width:200px; border-radius:50%"src="https://scontent.fbkk8-2.fna.fbcdn.net/v/t1.0-9/34560298_1911818095535467_3420252280811683840_n.jpg?_nc_cat=103&_nc_eui2=AeHTO_ZCKBkAVx9wVx8xzM0-pWzsXHg8H05ncsMUo8lu9iPvadtshL1w65ICTB8DDfeGBiLmD0bfZx_ISKd9sWhHoe7PGjJBJm0vNdYZ5-tmhg&_nc_ht=scontent.fbkk8-2.fna&oh=1ce01ce9ceb24cce382b7a7fa57eac42&oe=5C535370" alt=""></div>
<h2><%= fullname %></h2>
<div>My Hobbies:</div>
<ul>
<% hobbies.forEach(function(hobbies){ %>
    <li><%= hobbies %></li>
    <% }); %>s
</ul>
<div>My Birthday: <%= dob %></div>
</div>



<% include ../partials/footer %>