<% include ../partials/header %>

<br>
<div class="jumbotron">
<div class="pic"><img src="https://www.facebook.com/photo.php?fbid=2051393618244580&set=t.100001218860791&type=3&theater" alt=""></div>
<h2><%= fullname %></h2>
<div>My Hobbies:</div>
<ul>
<% hobbies.forEach(function(hobbies){ %>
    <li><%= hobbies %></li>
    <% }); %>
</ul>
<div>My Birthday: <%= dob %></div>
</div>



<% include ../partials/footer %>