<% include ../partials/header %>
<br>
<div class="text-center"><div class="jumbotron">
        <i class="Large material-icons text-warning"><h1 class="display-3">Project</h1>
                <p class="lead">Workshop Full Strack</p>
                <hr class="my-2">
                <p>Phapalak Saethapan 5930213006</p>
                <p class="lead">
                    <a class="btn btn-primary btn-lg" href="about" role="button">View</a>
                </p>
            </div>
            </div>








<% include ../partials/footer %>