<% include ../partials/header %>
<br>
  <div class="jumbotron">
                <h1 class="display-3">Project</h1>
                <p class="lead">Workshop Full Strack</p>
                <hr class="my-2">
                <p>Phapalak Saethapan 5930213006</p>
                <p class="lead">
                    <a class="btn btn-primary btn-lg" href="about.html" role="button">View</a>
                </p>
            </div>







<% include ../partials/footer %>