<% include ../partials/header %>

<h1><center>Top 50 User</h1></center><br>
    <div class="jumbotron"><table class="table">
        <thead>
            <tr>
                <th>Title</th>
                <th>Name</th>
                <th>Total Price</th>
                <th>ZipCode</th>
            </tr>
        </thead>
        <tbody id="myTable">
            <% reporta.forEach(function(reporta){ %>
       
               <tr>
                   <td scope="row"><%=reporta.title%></td>
                   <td><%=reporta.name%></td>
                   <td><%=reporta.sum%></td>
                   <td><%=reporta.zipcode%></td>
                   
               </tr></div>
             <%});%>   
           </tbody>
    </table>
    <script>
        $(document).ready(function(){
          $("#myInput").on("keyup", function() {
            var value = $(this).val().toLowerCase();
            $("#myTable tr").filter(function() {
              $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
          });
        });
        </script>
        
<% include ../partials/footer %>