<% include ../partials/header %>
<script language="javascript">
    function AlertDelete() {

      alert('Do you want to delete User !!');

    }
  </script>
<br>
<h1><center>User</h1></center><br>
<div class="jumbotron"><table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>E-mail</th>
            <th>Password</th>
            <th><a class="btn btn-primary" href="/addnewuser/" role="button">Add User</a></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
     <% user.forEach(function(user) 
     { %>

        <tr>
            <td scope="row"><%=user.id%></td>
            <td><%=user.email%></td>
            <td><%=user.password%></td>
            <td><a class="btn btn-warning" href="" role="button">Edit</a></td>
            <td><a name="" id="" OnClick="JavaScript:AlertDelete();" class="btn btn-danger" href="/user_delete/<%=user.id%>" role="button">Delete</a></td>   
        </tr>
      <%});%>   
    </tbody></div>
</table>







<% include ../partials/footer %>