<% include ../partials/header %>



  <form action="/users/update" method="post">
    <div class="form-group">
      <label for="">ID</label>
      <input type="number" class="form-control" value="<%= user.id%>" name="id" id="" aria-describedby="helpId" placeholder="">
      <small id="helpId" class="form-text text-muted">User ID</small>
    </div>

    <div class="form-group">
      <label for="">Email</label>
      <input type="text" class="form-control" value="<%= user.email%>" name="email" id="" aria-describedby="helpId" placeholder="">
      <small id="helpId" class="form-text text-muted">User Email</small>
    </div>
    <div class="form-group">
      <label for="">Password</label>
      <input type="text" class="form-control" value="<%= user.password%>" name="password" id="" aria-describedby="helpId" placeholder="">
      <small id="helpId" class="form-text text-muted">User Password</small>
    </div>

    
    
        
    <a class="btn btn-success" href="/users" role="button">Cancle</a>
    <button type="submit" class="btn btn-primary">Save</button>
    <a class="btn btn-danger" onclick="confirm('Do you want to delete user');" href="/user_delete/<%= user.id%>" role="button">Delete</a>

    
  </form>

  <% include ../partials/footer %>